@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

// colour scheme
$purple: #AB78B3;
$purple--50: rgba(171, 120, 179, 0.5);
$black: #1d1d1d;
$white: #fefefe;
$blue--light: #BBDEEF;
$blue--light50: rgba(187, 222, 239, 0.5);
$blue--dark: #0066B3;
$grey: #6d7278;

// font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

*,
*::before,
*::after {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $black;
    background: $white;
}