    </main>
    <footer>
        <nav class="wrapper wrapper--padded">
            <ul class="footer__nav--social-media">
                <li><a href="#" class="icon icon--sm-facebook"><span class="vh">Facebook</span></a></li>
                <li><a href="#" class="icon icon--sm-instagram"><span class="vh">Instagram</span></a></li>
                <li><a href="#" class="icon icon--sm-youtube"><span class="vh">YouTube</span></a></li>
            </ul>
            <ul class="footer__nav--links">
                <li>&copy; Lookin Meditation App</li>
                <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/cookie-policy">Cookie Policy</a></li>
                <li><a href="#top"><img src="/assets/img/page-up-arrow.svg" alt="Go back to the top"></a></li>
            </ul>
        </nav>
    </footer>
    <section class="m07-cookie-policy js-cookie-policy">
        <div class="wrapper wrapper--padded-small">
            <div class="m07-cookie-policy__content">
                <h2 class="vh">Cookie notice</h2>
                <p>To support your privacy rights our new Privacy Policy describes our use and sharing of cookies with our social media, advertising &amp; analytics partners. We recommend that you review the privacy policy <a href="/privacy-policy">here</a>, and follow the instructions to <a href="/cookie-policy">modify your cookie settings</a> to suit your privacy preferences. Continued use of our site confirms your choice to accept our privacy policy and confirms your agreement to the processing of your personal data in line with our policy and your preferences. <a href="/cookie-policy">Read Cookie Policy</a>.</p>
                <button class="btn btn--primary btn--border">Accept</button>
            </div>
        </div>
    </section>
    <script src="/assets/js/index.js"></script>
</body>
</html>