<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="Camila Mattos x19140096, Carla Gibin x19158963">
    <title>Lookin - Your favourite meditation app</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <a href="#content">Skip to content</a>
    <header class="header">
        <a href="/" class="header__logo" title="Go back to the homepage">
            <img src="assets/img/01-lookin-logo.svg" alt="Go back to the homepage" class="header__logo__img">
        </a>
        <nav class="js-nav nav">
            <div class="nav__content wrapper">
                <button class="js-mobile-nav nav__mobile"><span class="vh">Open mobile menu</span></button>
                <ul class="js-nav-menu nav__menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about-us">About</a></li>
                    <li class="js-subnav"><a href="/meditation">Meditation</a>
                        <ul class="nav__subnav">
                            <li><a href="/meditation/discover">Discover Meditation</a></li>
                            <li><a href="/meditation/types">Types of Meditation</a></li>
                        </ul>
                    </li>
                    <li><a href="/free-trial">Free trial</a></li>
                    <li><a href="/contact-us">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="content">