        <section class="m03-newsletter theme--blue">
            <div class="wrapper wrapper--padded">
                <h2>Newsletter</h2>
                <form method="POST">
                    <label class="vh" for="newsletter_email">Your email address</label>
                    <input type="email" id="newsletter_email" class="m03-newsletter__input" placeholder="Your email address" />
                    <button type="submit" class="btn">Subscribe</button>
                </form>
            </div>
        </section>